html, body {
    height: 100%;
    margin: 0px;
}

div {
    display: block;
}

.bg-1 {
    height: 100%;
    background-image: url('../img/sisters.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    opacity: 0.6;
    text-size-adjust: 500%;
    color: red;
}

.border {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    text-align: center;
}

.caption {
    top: 50%;
    font-size: 25px;
    background-color: darkolivegreen;
    padding: 18px;
    color: white;
}

.folio {
    text-align: center;
}