html, body {
    height: 100%;
    margin: 0;
}

.bg-1 {
    height: 100%;
    background-image: url('../img/sisters.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

/*.folio {
    text-align: center;
}*/